* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 0.32rem;
    box-sizing: border-box;
    color: rgba(34, 34, 34, 1);
    font-family: PingFangSC-Regular, PingFang SC;
}

.act-btn {
    opacity: 0.7;
}

.overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.overflow-ellipsis-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/** flex start
   * flex布局类[行/列，X轴，Y轴]
   */
.fx-1 {
    flex: 1;
    align-self: stretch;
}

.rowlt {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.rowlc {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.rowlb {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.rowls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.rowrt {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.rowrc {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.rowrb {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.rowrs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
}

.rowct {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.rowcc {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rowcb {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.rowcs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.rowst {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.rowsc {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rowsb {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.rowss {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.collt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.collc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.collb {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.colls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.colrt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.colrc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.colrb {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.colrs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.colct {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.colcc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colcb {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.colcs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
